/* Start AllTherapists */
.all-therapists-outer-container {
	margin: 75px 0 50px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.all-therapists-inner-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	gap: 30px;
}
.all-therapists-inner-container div img {
	width: 250px;
	margin-top: 5px;
	border-radius: 15px;
	box-shadow: 5px 5px 10px var(--shadow);
}
.all-therapists-pics:hover {
	box-shadow: 0px 0px 5px 3px var(--hover);
}
.all-therapists-inner-container div p {
	color: white;
	text-align: center;
}
/* End AllTherapists */