/* Start Information */
.info-outer-container {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	margin: 75px 0 50px 0;
}
.info-inner-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 90%;
}
.info-payment-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 475px;
}
.info-payment-container h3 {
	color: var(--color2);
	font-weight: 600;
}
.info-payment-container h4 {
	color: var(--color2);
	font-weight: 600;
	margin-bottom: 30px;
}
.info-payment-container p {
	color: var(--color1);
}
.info-img-paperwork-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 475px;
}
.info-img-paperwork-container img {
	max-width: 100%;
	box-shadow: 2px 2px 8px 3px var(--shadow);
}
.info-paperwork-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 30px 0;
}
.info-paperwork-container h3 {
	color: var(--color2);
	font-weight: 600;
}
.info-paperwork-container p {
	color: var(--color1);
}
.info-comm-link {
	color: var(--color3);
	font-weight: 600;
}
.info-comm-link:hover {
	color: var(--hover);
}
@media screen and (min-width: 768px) {
	.info-outer-container {
		margin: 150px 0 150px 0;
	}
	.info-inner-container {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		max-width: 100%;
		gap: 30px;
	}
	.info-img-paperwork-container, .info-payment-container {
		width: 40%;
		max-width: 475px;
	}
}
/* End Information */