@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Start Global Styling */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
:root {
	--color1: #ffd1ab;
	--color2: #ffc18f;
	--color3: #89bc6a;
	--color4: #606b98;
	--color5: #ffffff;
	--color6: #000000;
	--color7: #9670515d;
	--hover: #ffff00;
	--success: #00ff00;
	--error: #ff0000;
	--shadow: rgba(27, 27, 27, 0.644);
	--colorBorderTransparent: #96705198;
	--colorBorderOpaque: #967051;
}
body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(45deg, #b18561, #d39f74, #ffc18f, #ffc18f, #d39f74, #b18561);
	background-size: 300% 300%;
	animation: gradientAnimation 10s ease-in-out infinite;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.shadow-frame {
	box-shadow: 2px 2px 8px 0 var(--color6);
}
/* End Global Styling */

/*! === !*/

/* Start Header */
header {
	background-color: var(--color2);
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	box-shadow: 0 2px 10px 3px var(--shadow);
}
.header-image {
	width: 100%;
	padding: 0 5px;
}
@media screen and (min-width: 425px) {
	.header-image {
		width: 100%;
	}
}
@media screen and (min-width: 596px) {
	.header-image {
		width: 90%;
	}
}
@media screen and (min-width: 768px) {
	.header {
		justify-content: space-between;
	}
	.header-image {
		width: 40%;
	}
}
@media screen and (min-width: 1024px) {
	.header-image {
		width: 33%;
	}
}
@media screen and (min-width: 1440px) {
	.header-image {
		width: 30%;
	}
}
@media screen and (min-width: 1440px) {
	.header-image {
		width: 35%;
		max-width: 650px;
	}
}
/* End Header */

/*! === !*/

/* Start Navbar */
.nav-bar-lg-screen {
	display: none;
}
@media screen and (min-width: 768px) {
	.nav-bar-lg-screen {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
		flex: 1;
		margin-bottom: 15px;
	}
	.nav-dropdown-anchor-link {
		color: var(--color4);
		text-decoration: none;
		text-align: center;
	}
	.nav-bar-link {
		color: var(--color4);
		box-shadow: 1px 1px 15px 2px var(--shadow);
		text-align: center;
		font-size: 0.75rem;
		font-weight: 400;
		font-style: italic;
		text-decoration: none;
		margin: 0 10px;
		padding: 3px 10px;
		border-radius: 10px;
		transition: color 0.25s ease, box-shadow 0.25s ease;
	}
	.nav-bar-link:hover {
		color: var(--color5);
		box-shadow: 1px 1px 15px 2px var(--color5);
	}
	.nav-sm-screen {
		display: none;
	}
	.nav-dropdown {
		position: relative;
		display: block;
	}
	.nav-dropdown-menu {
		display: none;
		position: absolute;
		background-color: var(--color2);
		left: 0;
		border-radius: 5px;
		box-shadow: 1px 1px 15px 2px var(--shadow);
		z-index: 1;
		margin-top: 4px;
		width: 125px;
		list-style: none;
	
	}
	.nav-dropdown:hover .nav-dropdown-menu {
		display: block;
	}
	.nav-dropdown-menu li {
		margin: 10px 0;
	}
	.nav-dropdown-menu a {
		color: var(--color4);
		text-decoration: none;
		font-size: 0.75rem;
		font-weight: 500;
		font-style: italic;
		transition: color 0.3s ease;
		text-align: center;
	}
	.nav-dropdown-menu a:hover {
		color: var(--color5);
	}
}
@media screen and (min-width: 1024px) {
	.nav-bar-link {
		font-size: 0.85rem;
		margin: 0 25px;
	}
	.nav-dropdown-menu a {
		font-size: 0.85rem;
	}
}
@media screen and (min-width: 1440px) {
	.nav-bar-link {
		font-size: 0.95rem;
		margin: 0 30px;
	}
	.nav-dropdown-menu li {
		margin: 25px 0;
	}
	.nav-dropdown-menu a {
		font-size: 1rem;
	}
	.nav-dropdown-menu {
		width: 150px;
	}
}
@media screen and (min-width: 1920px) {
	.nav-bar-link {
		font-size: 1.25rem;
		margin: 0 40px;
	}
}
@media screen and (min-width: 2560px) {
	.nav-bar-link {
		font-size: 1.5rem;
		margin: 0 50px;
	}
}
/* End Navbar */

/*! === !*/

/* Start MobileHamburgerNav */
.nav-mobile-outer-div {
	width: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 100;
}
.hamburgerBtn {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	z-index: 101;
}
.hamburgerBtn:focus,
.hamburgerBtn:hover {
	outline: none;
}
.hamburger {
	display: inline-block;
	width: 20px;
	height: 3px;
	background-color: #ffffff;
	position: relative;
	transition: all 0.3s ease;
	border-radius: 2px;
}
.hamburger:before,
.hamburger:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	position: absolute;
	left: 0;
	transition: all 0.3s ease;
	border-radius: 2px;
}
.hamburger:before {
	top: -7px;
}
.hamburger:after {
	bottom: -7px;
}
.hamburgerBtn.collapsed .hamburger {
	transform: rotate(0deg);
	background-color: rgba(255, 0, 0, 0);
}
.hamburgerBtn.collapsed .hamburger:before {
	top: 0;
	transform: rotate(45deg);
	rotate: 180deg;
	background-color: red;
}
.hamburgerBtn.collapsed .hamburger:after {
	bottom: 0;
	transform: rotate(-45deg);
	rotate: -180deg;
	background-color: red;
}
.nav-mobile-menu-div {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0px;
	right: -110vw;
	box-shadow: 2px 2px 8px 0 black;
	border-radius: 5px;
	background-color: #ffc18fe5;
	transition: all 0.5s ease;
}
.nav-mobile-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0 50px 0;
}
.nav-mobile-menu div {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.nav-mobile-menu img {
	width: 90%;
}
.nav-mobile-menu a {
	margin: 25px 0;
	color: var(--color4);
	text-align: center;
	font-size: 1.25rem;
	font-weight: 400;
	font-style: italic;
	text-decoration: none;
	padding: 2px 8px;
	box-shadow: 1px 1px 5px 2px var(--shadow);
	border-radius: 5px;
}
.nav-mobile-menu a:hover {
	color: var(--color4);
}
.show {
	right: 0;
	transition: all 0.5s ease;
	animation: slideIn 0.75s ease;
}
.hide {
	right: calc(-100% - 10px);
	transition: all 0.5s ease;
	animation: slideOut 0.75s ease;
}
@keyframes slideIn {
	0% {
		right: -110vw;
	}
	100% {
		right: 0;
	}
}
@keyframes slideOut {
	0% {
		transition: translateX(0);
	}
	100% {
		transition: translateX(-110vw);
	}
}
@media screen and (min-width: 768px) {
	.hamburgerBtn,
	.nav-mobile-menu-div,
	.nav-mobile-menu {
		display: none;
	}
}
/* End MobileHamburgerNav */

/*! === !*/

/* Start Homepage */
.home-main-container {
	margin: 50px 0 0 0;
	display: flex;
	flex-direction: column;
	color: var(--color4);
}
.home-intro-container,
.home-second-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 25px;
}
.home-intro-container img {
	width: 100%;
	max-width: 580px;
	box-shadow: 1px 1px 5px 2px var(--shadow);
	border-radius: 5px;
}
.home-welcome {
	background-color: var(--color2);
	font-size: 1rem;
	font-weight: 500;
	font-style: italic;
	text-align: justify;
	max-width: 580px;
	margin: 15px 0;
	padding: 10px 15px;
	box-shadow: 1px 1px 5px 2px var(--shadow);
	border-radius: 10px;
}
.home-welcome span {
	font-size: 1.5rem;
}
.home-team-pic {
	color: var(--color4);
	font-size: 1.5rem;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
}
.home-quote-container {
	position: relative;
}
.home-quote-frame {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
}
.home-quote-frame img {
	position: absolute;
	object-fit: cover;
	top: 50px;
	width: 85%;
	max-width: 400px;
	box-shadow: 1px 1px 5px 2px var(--shadow);
	border-radius: 5px;
}
.home-quote-frame img.home-fade-in {
	opacity: 1;
}
.home-fade-in {
	opacity: 1;
	transition: opacity 2s ease-in;
}
.home-fade-out {
	opacity: 0;
	transition: opacity 2s ease-out;
}
.home-second-container {
	margin: 450px 0 50px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.home-statement-wrapper {
	width: 100%;
	height: 150px;
	max-width: 580px;
	border-radius: 10px;
	background-color: var(--color2);
	box-shadow: 1px 1px 5px 2px var(--shadow);
	display: flex;
	flex-direction: column;
	max-width: 580px;
	margin: 40px 0 0 0;
}
.home-empty-title-bar {
	height: 30px;
	background-color: var(--color7);
	width: 100%;
	border-radius: 10px 10px 0 0;
}
.home-statements {
	padding: 15px;
	color: var(--color4);
	font-size: 1rem;
	font-weight: 500;
	text-align: justify;
}
.home-statements span {
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	text-decoration: underline;
}
@media screen and (min-width: 340px) {
	.home-second-container {
		margin-top: 500px;
	}
}
@media screen and (min-width: 375px) {
	.home-second-container {
		margin-top: 550px;
	}
}
@media screen and (min-width: 400px) {
	.home-second-container {
		margin-top: 600px;
	}
}
@media screen and (min-width: 450px) {
	.home-second-container {
		margin-top: 650px;
	}
}
@media screen and (min-width: 768px) {
	.home-second-container {
		margin-top: 25px;
	}
	.home-main-first-container,
	.home-main-second-container {
		display: flex;
		flex-direction: row;
	}
	.home-intro-container,
	.home-quote-container {
		width: 50%;
	}
	.home-quote-frame img {
		top: 40px;
	}
}
@media screen and (min-width: 940px) {
	.home-second-container {
		margin-top: 0px;
	}
	.home-second-container {
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.home-statement-wrapper {
		display: flex;
		/* justify-content: center; */
		align-items: center;
		width: 40%;
		height: 150px;
		max-width: 580px;
		margin: 75px 30px 0 30px;
	}
}
@media screen and (min-width: 1024px) {
	.home-main-first-container,
	.home-main-second-container {
		justify-content: center;
	}
	.home-intro-container,
	.home-quote-container {
		width: 40%;
	}
}
@media screen and (min-width: 1440px) {
	.home-intro-container,
	.home-quote-container {
		max-width: 600px;
	}
}
/* End Homepage */

/*! === !*/

/* Start OurTherapists */

/* End OurTherapists */

/*! === !*/

/* Start of Therapists */
.therapist-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--color4);
	padding: 20px;
}
.therapist-info, .therapist-specializations, .therapist-treatments {
	max-width: 1200px;
}
.therapist-info {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: var(--color1);
	box-shadow: 1px 1px 5px 2px var(--shadow);
	border-radius: 15px;
}
.therapist-profile-pic img{
	width: 250px;
	border-radius: 50%;
	margin: 30px 0 0 0;
	box-shadow: 2px 2px 8px 3px var(--shadow);
}
.therapist-logo-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.therapist-logo-title img {
	width: 75px;
	border-radius: 50%;
	margin-right: 20px;
}	
.therapist-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.therapist-title h2 {
	font-size: 1.25rem;
	font-weight: 700;
	font-style: italic;
}
.therapist-title h3 {
	font-size: 1.15rem;
	font-weight: 700;
	font-style: italic;
}
.therapist-education {
	display: flex;
	flex-direction: column;
}
.therapist-education h3 {
	font-size: 1.15rem;
	font-weight: 700;
	text-align: center;
	font-style: italic;
}
.therapist-education p {
	font-size: 1rem;
	font-weight: 500;
}
.therapist-specializations {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 30px;
}
.therapist-specializations h3 {
	font-size: 1.2rem;
	font-weight: 700;
	text-align: center;
	text-decoration: underline;
	font-style: italic;
	color: var(--color4);
}
.therapist-specializations h4, .therapist-treatments h4 {
	font-size: 1.1rem;
	font-weight: 700;
	text-align: center;
	font-style: italic;
	color: var(--color4);
}
.therapist-specializations h5, .therapist-treatments h5 {
	font-size: 1rem;
	font-weight: 600;
	font-style: italic;
	color: var(--color4);
}
.therapist-specializations p {
	color: var(--color6);
	font-weight: 400;
}
.therapist-specializations ul {
	list-style-type:square;
	padding: 0 0 0 50px;
}
.therapist-url-link {
	color: var(--color5);
	font-weight: 600;
	text-decoration: underline;
}
.therapist-url-link:hover {
	color: var(--color4);
	cursor: pointer;
}
.therapists-greeting-text {
	color: var(--color4);
	font-weight: 600;
	font-style: italic;
}

@media screen and (min-width: 450px) {
	.therapist-info {
		padding: 0 50px;
	}
}
@media screen and (min-width: 768px) {
	.therapist-profile-pic img{
		width: 275px;
	}
	.therapist-title h2 {
		font-size: 1.35rem;
	}
	.therapist-title h3, .therapist-education h3 {
		font-size: 1.25rem;
	}
	.therapist-education p, .therapist-specializations h5, .therapist-treatments h5 {
		font-size: 1.1rem;
	}
	.therapist-specializations {
		padding: 0 50px;
	}
	.therapist-specializations h3 {
		font-size: 1.3rem;
	}
	.therapist-specializations h4, .therapist-treatments h4 {
		font-size: 1.2rem;
	}
	
}
@media screen and (min-width: 1024px) {
	.therapist-info {
		display: flex;
		flex-direction: row;
		padding: 30px;
	}
	.therapist-profile-pic {
		width: 33%;
		padding: 0 50px;
	}
	.therapist-profile-pic img{
		padding: 0px;
	}
	.therapist-info-text {
		width: 66%;
		padding: 0 0 0 50px;
	}
	.therapist-education {
		text-align: center;
	}
	.therapist-education {
		margin: 0;
	}
	.therapist-specializations {
		padding: 0 50px;
	}
}
/* End of Therapists */

/*! === !*/

