@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Start Global Styling */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
:root {
	--color1: #ffd1ab;  
	--color2: #ffc18f;
	--color3: #89bc6a;
	--color4: #606b98;
	--color5: #ffffff;
	--color6: #000000;
	--color7: #9670515d;
	--hover: #ffff00;
	--success: #00ff00;
	--error: #ff0000;
	--shadow: rgba(41, 41, 41, 0.562);
	--colorBorderTransparent: #96705198;
	--colorBorderOpaque: #967051;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--color1);
}
.shadow-frame {
	box-shadow: 2px 2px 8px 0 var(--color6);
}
/* ! NEEDS TESTING FOR MOBILE PHONE VIEW */
@media screen and (min-width: 768px) {
	body {
		overflow-x: hidden;
	}
}
/* End Global Styling */


/* Start Header */
header {
	background-color: var(--color2);
	position: relative;
	display: flex;
	justify-content: center;
	padding: 0 20px;
	box-shadow: 0 2px 10px 3px var(--shadow);
}
.header-image {
	width: 100%;
}
@media screen and (min-width: 425px) {
	.header-image {
		width: 100%;
	}
}
@media screen and (min-width: 596px) {
	.header-image {
		width: 90%;
	}
}
@media screen and (min-width: 768px) {
	.header {
		justify-content: space-between;
	}
	.header-image {
		width: 40%;
	}
}
@media screen and (min-width: 1024px) {
	.header-image {
		width: 33%;
	}
}
@media screen and (min-width: 1440px) {
	.header-image {
		width: 30%;
	}
}
@media screen and (min-width: 1440px) {
	.header-image {
		width: 35%;
		max-width: 650px;
	}
}
/* End Header */


/* Start Navbar */
.nav-bar-lg-screen {
	display: none;
}
@media screen and (min-width: 768px) {
	.nav-bar-lg-screen {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-end;
		flex: 1;
		margin-bottom: 15px;
	}
	.nav-bar-link {
		color: var(--color5);
		text-align: center;
		font-size: 0.75rem;
		font-weight: 400;
		font-style: italic;
		text-decoration: none;
		margin: 0 10px;
		padding: 3px 10px;
		border-radius: 10px;
		transition: color 0.25s ease, box-shadow 0.25s ease;
	}
	.nav-bar-link:hover {
		color: var(--color4);
		box-shadow: 1px 1px 15px 2px var(--shadow);
	}
	.nav-sm-screen {
		display: none;
	}
}
@media screen and (min-width: 1024px) {
	.nav-bar-link {
		font-size: 0.85rem;
		margin: 0 25px;
	}
}
@media screen and (min-width: 1440px) {
	.nav-bar-link {
		font-size: 0.95rem;
		margin: 0 30px;
	}
}
@media screen and (min-width: 1920px) {
	.nav-bar-link {
		font-size: 1.25rem;
		margin: 0 40px;
	}
}
@media screen and (min-width: 2560px) {
	.nav-bar-link {
		font-size: 1.5rem;
		margin: 0 50px;
	}
}
/* End Navbar */


/* Start MobileHamburgerNav */
.nav-mobile-outer-div {
	width: 100%;
	position: relative;
	z-index: 100;
}
.hamburgerBtn {
	position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 101;
}
.hamburgerBtn:focus,
.hamburgerBtn:hover {
	outline: none;
}
.hamburger {
	display: inline-block;
	width: 20px;
	height: 3px;
	background-color: #ffffff;
	position: relative;
	transition: all 0.3s ease;
	border-radius: 2px;
}
.hamburger:before,
.hamburger:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	position: absolute;
	left: 0;
	transition: all 0.3s ease;
	border-radius: 2px;
}
.hamburger:before {
	top: -7px;
}
.hamburger:after {
	bottom: -7px;
}
.hamburgerBtn.collapsed .hamburger {
	transform: rotate(0deg);
	background-color: rgba(255, 0, 0, 0);
}
.hamburgerBtn.collapsed .hamburger:before {
	top: 0;
	transform: rotate(45deg);
	rotate: 180deg;
	background-color: red;
}
.hamburgerBtn.collapsed .hamburger:after {
	bottom: 0;
	transform: rotate(-45deg);
	rotate: -180deg;
	background-color: red;
}
.nav-mobile-menu-div {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    top: 5px;
    right: -100%;
    box-shadow: 2px 2px 8px 0 black;
    border-radius: 5px;
    background-color: #ffc18fe5;
    transition: all 0.5s ease;
}
.nav-mobile-menu {
	display: flex;
	flex-direction: column;
	margin: 50px 0 50px 0;
}
.nav-mobile-menu a {
	margin: 25px 0;
	color: var(--color4);
	text-align: center;
	font-size: 1.25rem;
	font-weight: 400;
	font-style: italic;
	text-decoration: none;
	padding: 2px 8px;
	box-shadow: 1px 1px 5px 2px var(--shadow);
	border-radius: 5px;
}
.nav-mobile-menu a:hover {
	color: var(--color4);
}
.show {
    right: 0;
    transition: all 0.5s ease;
    animation: slideIn 0.75s ease;
}
.hide {
    right: calc(-100% - 10px);
	transition: all 0.5s ease;
    animation: slideOut 0.75s ease;
}
@keyframes slideIn {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}
@keyframes slideOut {
	0% {
		transition: translateX(0);
	}
	100% {
		transition: translateX(100%);
	}
}
@media screen and (min-width: 768px) {
	.hamburgerBtn, .nav-mobile-menu-div, .nav-mobile-menu {
		display: none;
	}
}
/* End MobileHamburgerNav */

/* Start Homepage */
.home-main-container {
	width: 100vw;
}
.home-main-first-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 50px;
}
.home-left-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 50%;
	padding-right: 100px;
}
.home-left-container img {
	width: 100%;
	height: auto;
	max-width: 580px;
	box-shadow: 1px 1px 10px 2px var(--shadow);
}
.home-welcome {
	color: var(--color4);
	font-size: 1rem;
	font-weight: 500;
	font-style: italic;
	max-width: 580px;
	padding-top: 100px;
}
.home-right-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 100px;
	width: 50%;
}
.home-right-container img {
	box-shadow: 1px 1px 10px 2px var(--shadow);
}

/* End Homepage */