/* Start Homepage */
.home-outer-wrapper {
	margin: 75px 0 50px 0;
	display: flex;
	flex-direction: column;
	width: 100vw;
}
.home-first-outer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.home-first-inner-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 25px;
}
.home-first-welcome {
	background-color: var(--window2);
	color: var(--color1);
	font-size: 1rem;
	font-weight: 500;
	font-style: italic;
	text-align: justify;
	width: 90%;
	max-width: 580px;
	margin: 15px 0;
	padding: 10px 15px;
	box-shadow: 3px 3px 5px 2px var(--shadow);
	border-radius: 5px;
}
.home-first-welcome span {
	font-size: 1.5rem;
}
.home-first-inner-container img {
	width: 90%;
	max-width: 580px;
	box-shadow: 3px 3px 5px 2px var(--shadow);
	border-radius: 5px;
}
.home-first-inner-container img:hover {
	box-shadow: 0px 0px 0px 2px var(--hover);
}
.home-team-pic {
	color: var(--color1);
	font-size: 1.5rem;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
}
.home-quote-container {
	position: relative;
	width: 100%;
}
.home-quote-frame {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
}
.home-quote-frame img {
	position: absolute;
	object-fit: cover;
	top: 50px;
	width: 90%;
	max-width: 400px;
	box-shadow: 3px 3px 5px 2px var(--shadow);
	border-radius: 5px;
}
.home-quote-frame img.home-fade-in {
	opacity: 1;
}
.home-fade-in {
	opacity: 1;
	transition: opacity 2s ease-in;
}
.home-fade-out {
	opacity: 0;
	transition: opacity 2s ease-out;
}
.home-second-container {
	margin: 525px 0 50px 0;
	width: 100%;
	max-width: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.home-card-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	max-width: 430px;
	padding: 1rem;
	gap: 0.5rem;
	margin-bottom: 30px;
	background-color: var(--window2);
	box-shadow: 3px 3px 5px 2px var(--shadow);
	border-radius: 5px;
}
.home-card-wrapper img {
	max-width: 100%;
}
.home-statements {
	color: var(--color1);
	font-size: 1.1rem;
}
.home-statements span {
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	text-decoration: underline;
}
@media screen and (min-width: 340px) {
	.home-first-outer-container {
		margin-bottom: 75px;
	}
}
@media screen and (min-width: 375px) {
	.home-first-outer-container {
		margin-bottom: 100px;
	}
}
@media screen and (min-width: 400px) {
	.home-first-outer-container {
		margin-bottom: 150px;
	}
}
@media screen and (min-width: 450px) {
	.home-first-outer-container {
		margin-bottom: 200px;
	}
}
@media screen and (min-width: 768px) {
	.home-first-outer-container {
		margin-bottom: 175px;
	}
	.home-first-inner-container,
	.home-quote-container {
		width: 80%;
	}
	.home-quote-frame img {
		top: 40px;
	}
	.home-card-wrapper {
		width: 80%;
		max-width: 600px;
	}
}
@media screen and (min-width: 1024px) {
	.home-first-outer-container {
		flex-direction: row;
		justify-content: center;
		margin-bottom: -500px;
	}
	.home-first-inner-container,
	.home-quote-container {
		width: 40%;
		max-width: 750px;
	}
	.home-quote-container {
		top: -325px;
	}
	.home-second-container {
		width: 100%;
		gap: 1rem;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.home-card-wrapper {
		width: 40%;
		max-width: 430px;
		height: 420px;
		justify-content: space-between;
	}
}
/* End Homepage */